{%- comment -%}Desktop Search Modal{%- endcomment -%}
<custom-drawer id="header-search-layer" class="custom-drawer header__search">
  <div class="searchform" aria-label="{{ 'general.search.placeholder' | t }}">
      <div class="search-modal__content" tabindex="-1">
        {%- if section.settings.search_type == 'predictive' -%}
            <predictive-search class="search-modal__form w-100">
        {%- endif -%}
            <div class="container py-7">
                <div class="search-form position-relative d-flex align-items-center w-100">
                    <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form w-100">
                        <label class="visually-hidden-skip" for="Search-In-Modal">Search</label>
                        <input class="form-control search-form-control ps-8 first-focusable-ele" id="Search-In-Modal" 
                            type="search" name="q" value="{{ search.terms | escape }}" aria-label="{{ 'general.search.placeholder' | t }}" 
                            title="{{ 'general.search.placeholder' | t }}" placeholder="{{ 'general.search.placeholder' | t }}"
                            onkeypress="return event.keyCode != 13;">
                        <input type="hidden" name="type" value="product">
                        <button type="submit" class="field__button text-primary" aria-label="{{ 'general.search.placeholder' | t }}"><svg aria-hidden="true" focusable="false" style="width:25px;height:25px;"><use href="#icon-search"></use></svg></button>
                    </form>
                    <button type="button" class="search-modal__close-button modal__close-button bg-transparent border-0 ms-3" aria-label="{{ 'accessibility.close' | t }}" data-closedrawer>
                        <svg aria-hidden="true" focusable="false" style="width: 22px; height: 22px;"><use href="#icon-close"></use></svg>
                    </button>
                </div>
            </div>
            {%- if section.settings.search_type == 'predictive' -%}
                <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                    <div class="predictive-search__loading-state">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner-border" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                    </div>
                </div>
            {%- endif -%}
        {%- if section.settings.search_type == 'predictive' -%}
            </predictive-search>
        {%- endif -%}
      </div>
  </div>
</custom-drawer>
