{% liquid
  assign product = block.settings.product
  assign product_form_id = 'productform' | append: product.id | append: '-' | append: section.id
  assign url =  product.url | within: collection
%}

<div class="product_buy_buttons d-flex flex-column" {{ block.shopify_attributes }} >
  {%- if product != blank -%}
    {%- form 'product',
      product,
      id: product_form_id,
      class: 'form d-flex flex-row gap-2',
      novalidate: 'novalidate',
      data-type: 'add-to-cart-form',
      data-url: url
    -%}
      <input
        type="hidden"
        name="id"
        value="{{ product.selected_or_first_available_variant.id }}" >
        
        {%- if product.gift_card? and block.settings.show_gift_recipient_form -%}
          <div class="row">
          {%- render 'gift-card-recipient-form', product: product, form: form, section: section -%}
          </div>
        {%- endif -%}
        {%- if block.settings.show_addtocart -%}
        <button class="btn {{ block.settings.btn_style }} {{ block.settings.size_class }} {% if block.settings.addtocart_full %}flex-grow-1{% endif %}"
                type="submit"
                name="add"
                form="{{ product_form_id }}"
                aria-label="{{ 'products.product.add_to_cart' | t | escape }}"
                {% unless product.selected_or_first_available_variant.available %}disabled{% endunless %}>
                <span class="add-text">
                    {%- if block.settings.label != blank -%}
                        {{ block.settings.label }}
                    {%- else -%}
                        {%- if product.selected_or_first_available_variant.available -%}
                        {{ 'products.product.add_to_cart' | t }}
                        {%- else-%}
                        {{ 'products.product.sold_out' | t }}
                        {%- endif -%}
                    {%- endif -%}
                </span>
                <span class="spinner-border"></span>
            </button>
        {%- endif -%}

      {% comment %} Dynamic Checkout Button {% endcomment %}
      {%- if block.settings.show_dynamic_checkout -%}
        {{ form | payment_button }}
      {%- endif -%}

        {%- if block.settings.show_quickview -%}
            <quick-shop-button class="btn {{ block.settings.quickview_btn_style }} {{ block.settings.quickview_size_class }} {% if block.settings.quickview_full %}flex-grow-1 {% endif %}quickshop--button" data-handle="{{ product.handle }}">
                {%- if block.settings.quickview_icon != 'none' -%}
                    <svg aria-hidden="true" focusable="false" style="width:22px;height:22px;margin:auto;" class="icon-block__icon"><use href="#{{ block.settings.quickview_icon }}"></use></svg> 
                {%- endif -%}
                {%- if block.settings.quickview_label != blank -%}
                    {{ block.settings.quickview_label }}
                {%- endif -%}
            </quick-shop-button>
        {%- endif -%}
    {%- endform -%}
  {%- endif -%}
</div>

{% schema %}
    {
        "name": "Product Buy Buttons",
        "tag": null,
        "settings": [
            {
                "type": "product",
                "id": "product",
                "label": "Product"
            },
            {
                "type":"header",
                "content":"Add To Cart Button"
            },
            {
                "type": "checkbox",
                "id": "show_addtocart",
                "label": "Show add to cart button",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "addtocart_full",
                "label": "Button full width",
                "default": true,
                "visible_if": "{{ block.settings.show_addtocart == true }}"
            },
            {
                "type": "text",
                "id": "label",
                "label": "Label",
                "visible_if": "{{ block.settings.show_addtocart == true }}"
            },
            {
                "type": "select",
                "id": "btn_style",
                "label": "Style",
                "visible_if": "{{ block.settings.show_addtocart == true }}",
                "options": [
                    {
                        "value": "btn-primary",
                        "label": "Primary"
                    },
                    {
                        "value": "btn-secondary",
                        "label": "Secondary"
                    },
                    {
                        "value": "btn-dark",
                        "label": "Dark"
                    },
                    {
                        "value": "btn-light",
                        "label": "Light"
                    },
                    {
                        "value": "btn-link",
                        "label": "Link"
                    }
                ],
                "default": "btn-primary"
            },
            {
                "type": "select",
                "id": "size_class",
                "label": "Button Size",
                "visible_if": "{{ block.settings.show_addtocart == true }}",
                "options": [
                    {
                        "value": "btn-sm",
                        "label": "Small"
                    },
                    {
                        "value": "",
                        "label": "Default"
                    },
                    {
                        "value": "btn-lg",
                        "label": "Large"
                    }
                ],
                "default": ""
            },
            {
                "type":"header",
                "content":"Quick View Button"
            },
            {
                "type": "checkbox",
                "id": "show_quickview",
                "label": "Show quickview button",
                "default": false
            },
            {
                "type": "checkbox",
                "id": "quickview_full",
                "label": "Button full width",
                "default": false,
                "visible_if": "{{ block.settings.show_quickview == true }}"
            },
            {
                "type": "text",
                "id": "quickview_label",
                "label": "Label",
                "default": "Quick Shop",
                "visible_if": "{{ block.settings.show_quickview == true }}"
            },
            {
                "type": "select",
                "id": "quickview_icon",
                "label": "Icon",
                "visible_if": "{{ block.settings.show_quickview == true }}",
                "options": [
                    {
                        "value": "none",
                        "label": "None"
                    },
                    {
                        "value": "icon-eye",
                        "label": "Quick View"
                    }
                ],
                "default": "none"
            },
            {
                "type": "select",
                "id": "quickview_btn_style",
                "label": "Style",
                "visible_if": "{{ block.settings.show_quickview == true }}",
                "options": [
                    {
                        "value": "btn-primary",
                        "label": "Primary"
                    },
                    {
                        "value": "btn-secondary",
                        "label": "Secondary"
                    },
                    {
                        "value": "btn-dark",
                        "label": "Dark"
                    },
                    {
                        "value": "btn-light",
                        "label": "Light"
                    },
                    {
                        "value": "btn-link",
                        "label": "Link"
                    }
                ],
                "default": "btn-primary"
            },
            {
                "type": "select",
                "id": "quickview_size_class",
                "label": "Button Size",
                "visible_if": "{{ block.settings.show_quickview == true }}",
                "options": [
                    {
                        "value": "btn-sm",
                        "label": "Small"
                    },
                    {
                        "value": "",
                        "label": "Default"
                    },
                    {
                        "value": "btn-lg",
                        "label": "Large"
                    }
                ],
                "default": ""
            },
            {
                "type":"header",
                "content":"Accelerated checkout"
            },
            {
                "type": "checkbox",
                "id": "show_dynamic_checkout",
                "label": "Show dynamic checkout buttons",
                "default": false
            },
            {
                "type": "checkbox",
                "id": "show_gift_recipient_form",
                "label": "Show gift recipient form",
                "default": false
            }
        ],
        "presets": [
            {
                "name": "Product Buy Buttons",
                "settings": {
                    "product": "{{ closest.product }}"
                }
            }
        ]
    }
{% endschema %}