<div {{ block.shopify_attributes }}>
  <button class="btn-link btn-link-dark" data-modal-opener="ContentPopup-{{ block.id }}">
    {{ block.settings.title | default: block.settings.page.title }}
  </button>

  <modal-dialog id="ContentPopup-{{ block.id }}" role="dialog" aria-modal="true" aria-hidden="true">
    <div class="modal">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-head d-flex justify-content-end pt-2 px-2">
                    <button type="button" class="p-2 text-black d-flex align-items-center bg-transparent border-0" id="ModalClose-ContentPopup-{{ block.id }}" aria-label="{{ 'general.modal.close' | t }}">
                        <span class="visually-hidden">{{ 'general.modal.close' | t }}</span>
                        <svg aria-hidden="true" focusable="false" style="width: 22px; height: 22px;"><use href="#icon-close"></use></svg>
                    </button>
                </div>
                <div class="modal-body text-dark pt-3">
                    {% content_for "blocks" %}
                </div>
            </div>
        </div>
    </div>
  </modal-dialog>
</div>
{% schema %}
{
  "name": "Popup with label",
  "tag": null,
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "settings": [
    {
        "type": "text",
        "id": "title",
        "default": "Pop-up link text",
        "label": "Link label"
    }
  ],
  "presets": [
    {
      "name": "Popup with label",
    }
  ]
}
{% endschema %}