{% liquid
    assign product = block.settings.product
    assign main_image = product.selected_variant.featured_image | default: product.featured_image
    assign secondary_image = product.images[1]
    assign card_title = product.selected_variant.title | default: product.title
    assign preload_image = false
    assign loading = 'lazy'
    if template == 'collection' and collection.products[0].id == product.id or collection.products[1].id == product.id
        assign preload_image = true
        assign loading = 'eager'
    endif
%}

{% comment %} if template == 'collection'
assign found_product = collection.products | where: "id", product.id  
assign product_index = collection.products | map: "id" | index_of: product.id
endif {% endcomment %}

{% comment %} for item in collection.products, limit: 4
            if product.id == item.id
                assign preload_image = true
                break
            endif
        endfor {% endcomment %}


{%- capture attribute_list -%}
    data-feauredImage
{%- endcapture -%}

{%- capture img_sizes -%}
    {% comment %} (min-width: {{ settings.container_width }}) calc({{ settings.container_width }} / 2), 100vw {% endcomment %}
    (min-width: {{ settings.container_width }}) {{ settings.container_width | minus: 90 | divided_by: 4 }}px, (min-width: 768px) calc((100vw - 130px) / 2), 50vw"
{%- endcapture -%}

    <div class="product--media product-images-wrapper mb-2 w-100">
        {%- if main_image == blank -%}
            <div class="product--media" data-media-id="{{ product.featured_image.id }}">
                <a href="{{ product.url | within: collection }}" class="d-block product-link position-relative w-100">
                    {% comment %} {{ 'detailed-apparel-1' | placeholder_svg_tag: 'w-100' }} {% endcomment %}
                    {% render 'placeholder-image' %}
                </a>
            </div>
        {%- else -%}
            <div class="product--media" data-mediaID="{{ main_image.id }}">
                <a href="{{ product.url | within: collection }}" class="d-block product-link position-relative w-100">
                    {%- render 'image', 
                        image: main_image,
                        sizes: img_sizes,
                        loading: loading,
                        alt: card_title,
                        preload: preload_image,
                        attributes: attribute_list
                    -%}
                    {%- if block.settings.show_secondary_media and secondary_image -%}
                        {% render 'image', 
                            image: secondary_image,
                            sizes: "(min-width: {{ settings.container_width }}) {{ settings.container_width | minus: 150 | divided_by: 4 }}px, (min-width: 768px) calc((100vw - 130px) / 2), 50vw",
                            alt: card_title,
                            loading: 'lazy'
                        %}
                    {%- endif -%}
                </a>
            </div>
        {% endif %}
    </div>
  
  {% schema %}
      {
          "name": "Product Image",
          "tag": null,
          "settings": [
              {
                  "type": "header",
                  "content": "Layout"
              },
              {
                  "type": "range",
                  "id": "width",
                  "min": 20,
                  "max": 100,
                  "step": 5,
                  "unit": "%",
                  "label": "Width",
                  "default": 100
              },
              {
                  "type": "header",
                  "content": "Content"
              },
              {
                  "type": "product",
                  "id": "product",
                  "label": "Product"
              },
              {
                  "type": "checkbox",
                  "id": "show_secondary_media",
                  "label": "Show secondary image on hover",
                  "default": false
              }
          ],
          "presets": [
              {
              "name": "Product Image",
                  "settings": {
                      "product": "{{ closest.product }}"
                  }
              }
          ]
      }
  {% endschema %}