<!-- AJAX CART HTML -->
{% comment %} {% liquid 
    assign upsell_layout = 'stacked'
%} {% endcomment %}

<custom-drawer id="component-cart-drawer" class="custom-drawer cart-drawer" role="dialog" 
    aria-labelledby="cart-drawer-title" aria-modal="true" aria-hidden="true" {{ section.attributes }}>
    <cart-form updating="false" role="document" data-section-id="{{ section.id }}">
        <div class="cart-form-container{% if cart.item_count <= 0 %} empty_cart{% endif %}" id="cart-form-container-{{ section.id }}" aria-live="polite">
            <header class="page-title cart-title mb-0 d-flex align-items-center bg-primary text-white px-4 py-3">
                <div class="d-flex align-items-center">
                    <h2 id="cart-drawer-title" class="drawer-header h5 mb-0" tabindex="0"> {{ section.settings.heading | default: t: 'templates.cart.title' }}</h2>
                    {% if section.settings.show_count %}
                        <div class="cart-items-count ms-2 mb-0 ms-lg-3 h5 mb-0" id="cart-item-count-{{ section.id }}">({{ cart.item_count }})</div>
                    {% endif %}
                </div>
                <button class="btn btn-close close-ajax--cart p-0 border-0 ms-auto text-white" aria-label="Close cart drawer" data-closedrawer>
                    <svg aria-hidden="true" focusable="false" style="width: 22px; height: 22px;"><use href="#icon-close"></use></svg>
                </button>
            </header>

            <div class="drawer-body">
                <div class="d-flex flex-column">
                    <form data-cart-form action="{{ routes.cart_url }}" id="cart-form-{{ section.id }}" class="w-100" method="post">
                        {% if cart.item_count > 0 %}
                            {% content_for 'block', type: 'sales-motivator', id: 'sales-motivator' %}

                            <div class="cart-body px-3">
                                {%- for item in cart.items -%}

                                    {%- liquid
                                        assign selected_variant = item.product.variants | find: 'id', item.id
                                        assign varStatus = 'standard'
                                        if selected_variant.inventory_management == 'shopify' and selected_variant.inventory_policy == 'deny' and selected_variant.inventory_quantity <= 0 
                                            assign varStatus = 'sold_out'
                                        elsif selected_variant.inventory_management == 'shopify' and selected_variant.inventory_policy == 'deny' and item.quantity > selected_variant.inventory_quantity
                                            assign varStatus = 'modify'
                                        elsif selected_variant.inventory_management == 'shopify' and selected_variant.inventory_policy == 'deny' and item.quantity == selected_variant.inventory_quantity 
                                            assign varStatus = 'locked'
                                        endif
                                    -%}
                                    
                                    <div class="cart-items pt-4 pb-4 border-bottom"  data-cart-item data-variant-id="{{ item.id }}">
                                        <div class="row cart-item mx-n2">
                                            <div class="col-3 px-2">
                                                <div class="cart-img {% unless item.image %}bg-gray-300{% endunless %}">
                                                {% if item.image %}
                                                    <img class="img-fluid item-img"
                                                        src="{{ item.image | image_url: width: 150 }}"
                                                        alt="{{ item.image.alt | default: item.product_title | escape }}"
                                                        width="75"
                                                        height="{{ 75 | divided_by: item.image.aspect_ratio | ceil }}" >
                                                    {% else %}
                                                        {% comment %} {{ placeholder_image | placeholder_svg_tag: 'img-fluid' }} {% endcomment %}
                                                        {% render 'placeholder-image' %}
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="col-6 px-2">
                                                <div class="cart-item-text">
                                                    {%- if section.settings.show_vendor -%}
                                                        <p class="caption-with-letter-spacing light">{{ item.product.vendor }}</p>
                                                    {%- endif -%}
                                                    <a href="{{ item.url }}" class="card-title"> {{ item.product.title | escape }} </a>
                                                    {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != nil -%}
                                                        {%- if item.product.has_only_default_variant == false -%}
                                                            <ul class="list-unstyled">
                                                            {%- for option in item.options_with_values -%}
                                                                <li>
                                                                    <span class="text-gray-800 fs-sm text-capitalize">{{ option.name }}:</span>
                                                                    <span class="text-gray-800 fs-sm text-capitalize">{{ option.value }}</span>
                                                                </li>
                                                            {%- endfor -%}
                                                            </ul>
                                                        {%- endif -%}

                                                        {% if item.properties.size != 0 %}
                                                            <ul class="list-unstyled">
                                                            {%- for property in item.properties -%}
                                                                {%- assign property_first_char = property.first | slice: 0 -%}
                                                                {%- if property.last != blank and property_first_char != '_' -%}
                                                                    <li>
                                                                        <span class="text-gray-800 fs-sm text-capitalize">{{ property.first }}:</span>
                                                                        <span class="text-gray-800 fs-sm text-capitalize">
                                                                            {%- if property.last contains '/uploads/' -%}
                                                                                <a href="{{ property.last }}" target="_blank">
                                                                                    {{ property.last | split: '/' | last }}
                                                                                </a>
                                                                            {%- else -%}
                                                                                {{ property.last }}
                                                                            {%- endif -%}
                                                                        </span>
                                                                    </li>
                                                                {%- endif -%}
                                                            {%- endfor -%}
                                                            </ul> 
                                                        {% endif %}

                                                        <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                                                    {%- endif -%}
                                                </div>

                                                <div class="quantity-box mb-3">
                                                    <div class="d-flex align-items-center">
                                                        {% if item.properties['promo_product'] or item.original_price == 0 %}
                                                            <input type="hidden" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" step="1" min="1" pattern="[0-9]*" inputmode="numeric" data-qty-input class="quantity form-control text-center">
                                                        {% else %}
                                                            {%- render 'cart-item-qty', item: item, index: forloop.index -%}
                                                            <a class="my-0 text-danger ms-3" href="#" title="{{ 'templates.cart.remove' | t }}" aria-label="{{ 'templates.cart.remove' | t }}" data-toggle="tooltip" data-item-remove data-index="{{ forloop.index }}" data-placement="left">
                                                                <svg aria-hidden="true" focusable="false" style="width: 14px; height: 14px;"><use href="#icon-close"></use></svg>
                                                            </a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="cart-total-price">
                                                    {% if item.final_price == 0 %}
                                                        <s class="text-gray-800 m-0 p-0">{{ 'templates.cart.free' | t }}</s>
                                                    {% else %}
                                                        <span class="m-0 p-0"> {{ item.final_price | money }} </span>
                                                    {% endif %}

                                                    {%- if item.original_price != item.final_price -%}
                                                        <s class="text-gray-800 m-0 p-0">{{ item.original_price | money }}</s>
                                                    {%- endif -%}
                                                    
                                                    {%- if item.line_level_discount_allocations.size > 0 -%}
                                                        <p class="d-block">
                                                            {%- for discount in item.line_level_discount_allocations -%}
                                                                <span>{{ discount.discount_application.title }}</span>
                                                            {%- endfor -%}
                                                        </p>
                                                    {%- endif -%}
                                                </div>

                                                {%- if varStatus == 'sold_out' -%}
                                                    <p class="text-danger"> {{ 'templates.cart.update_cart_message.sold_out' | t }}</p>
                                                {%- elsif varStatus == 'modify' -%}
                                                    <p class="text-danger">{{ 'templates.cart.update_cart_message.modify' | t: quantity: selected_variant.inventory_quantity }}</p>
                                                {%- elsif varStatus == 'locked' -%}
                                                    <p class="text-danger">{{ 'templates.cart.update_cart_message.locked' | t: quantity: selected_variant.inventory_quantity }}</p>
                                                {%- endif -%}
                                            </div>

                                            <div class="col-3 px-2">
                                                <div class="cart-total-price text-end">
                                                    {% if item.final_line_price == 0 %}
                                                        <s class="text-gray-800 m-0 p-0">{{ 'templates.cart.free' | t }}</s>
                                                    {% else %}
                                                        <span class="fw-bold m-0 p-0"> {{ item.final_line_price | money }} </span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            {%- liquid
                                assign cart_msg = 'templates.cart.empty' | t
                            -%}
                            <div class="cart__warnings text-center d-flex flex-column justify-content-center align-items-center">
                                <svg aria-hidden="true" focusable="false" style="width:100px;height:100px;" class="text-gray-500 mb-5">
                                    <use href="#icon-cart"></use>
                                </svg>
                                <div class="h4 cart__empty-text mb-4">
                                    {{ section.settings.empty_cart_msg | default: cart_msg }}
                                </div>
                                {%- if section.settings.continue_shopping_btn and section.settings.continue_shopping_url -%}
                                    <a href="{{ section.settings.continue_shopping_url }}" class="btn-link">
                                        {{ section.settings.continue_shopping_btn }}
                                    </a>
                                {%- endif -%}
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>

            {% comment %} <footer class="drawer-footer cart-drawer-footer" data-checkoutBtns> {% endcomment %}
                    {% comment %} {% content_for 'blocks' %} {% endcomment %}
                {% comment %} {% for block in section.blocks %}
                    {% case block.type %}
                        {% when 'upsell' %}
                            {% assign upsell_layout = block.settings.layout %}
                        <div {{ block.shopify_attributes }} class="cart_related-products pt-5 px-3 {{ block.settings.layout }} {% if block.settings.slider_enable == false %} slider-disabled {% endif %}" data-cartupsell style="background:{{ block.settings.section_bg_color }}; color:{{ block.settings.section_txt_color }};">
                                {% render 'cart-drawer-upsell' , block: block %}
                            </div>
                    {% endcase %}
                {% endfor %} {% endcomment %}
            {% comment %} </footer> {% endcomment %}
            {% content_for 'blocks' %}
            {% content_for "block", type: "_cart-darwer-footer", id: "static-cart-drawer-footer" %}


        </div>

        <script type="application/json" data-cartScriptJSON>
            {{ cart | json }}
        </script>
    </cart-form>
</custom-drawer>

<script data-src="{{ 'component-cart-form.js' | asset_url }}" class="lazyload-asset" defer></script>

{% comment %} {%- if upsell_layout == 'side-by-side' -%}
<script type="text/javascript">
    let upsellContainer = document.querySelector('[data-cartupsell] .cart-related_items');
    if(upsellContainer){
        manageUpsellScroll();
    }

    function manageUpsellScroll(){
        let isDown = false;
        let startX;
        let scrollLeft;
    
        upsellContainer.addEventListener('mousedown', (e) => {
            isDown = true;
            startX = e.pageX - upsellContainer.offsetLeft;
            scrollLeft = upsellContainer.scrollLeft;
        });
        upsellContainer.addEventListener('mouseleave', () => {
            isDown = false;
        });
        upsellContainer.addEventListener('mouseup', () => {
            isDown = false;
        });
        upsellContainer.addEventListener('mousemove', (e) => {
            if(!isDown) return;
            e.preventDefault();
            const x = e.pageX - upsellContainer.offsetLeft;
            const walk = (x - startX) * 3;
            upsellContainer.scrollLeft = scrollLeft - walk;
        });
    }    
</script>
{%- endif -%} {% endcomment %}

{% schema %}
{
  "name": "Slide Cart",
  "tag": "section",
  "class": "cart-drawer-section",
  "settings": [
        {
            "type": "header",
            "content": "Content"
        },
        {
            "type": "inline_richtext",
            "id": "heading",
            "label": "heading",
            "default": "Cart"
        },
        {
            "type": "checkbox",
            "id": "show_count",
            "label": "Show Cart Items Count",
            "default": false,
            "info": "Enabling this will show cart items count beside heading."
        },
        {
            "type": "header",
            "content": "Empty cart"
        },
        {
            "type": "richtext",
            "id": "empty_cart_msg",
            "label": "Message",
            "default": "<p>Your cart is empty</p>"
        },
        {
            "type": "text",
            "id": "continue_shopping_btn",
            "label": "Button label",
            "default": "Continue Shopping"
        },
        {
            "type": "url",
            "id": "continue_shopping_url",
            "label": "Button link"
        }
    ],
    "blocks": [{ "type": "@theme" }, { "type": "@app" }, { "type": "_cart-note" }, { "type": "_cart-upsell" }, { "type": "_cart-drawer-footer"} ],
    "presets": [
        {
            "name": "Cart Drawer",
            "blocks": [
                { "type": "_cart-note" }, { "type": "_cart-upsell" }, { "type": "_cart-drawer-footer"}
            ]
        }
    ]
}
{% endschema %}