{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{% comment %} 
  Predictive Search: https://shopify.dev/docs/api/liquid/objects/predictive-search 
  predictive_search_resources: https://shopify.dev/docs/api/liquid/objects/predictive_search_resources
{% endcomment %}

{% comment %} {% assign results_count = predictive_search.resources.queries.size
    | plus: predictive_search.resources.collections.size
    | plus: predictive_search.resources.pages.size
    | plus: predictive_search.resources.articles.size
    | plus: predictive_search.resources.products.size
%} {% endcomment %}

{%- if predictive_search.performed -%}

    {% assign results_count = predictive_search.resources.queries.size
        | plus: predictive_search.resources.collections.size
        | plus: predictive_search.resources.products.size
    %}

    <div id="predictive-search-results" class="container py-6" role="listbox">

        {% if results_count > 0 %}

            <div class="row row-gap-5">
                <div class="col-lg-2 col-md-12">
                    {%- if predictive_search.resources.queries.size > 0 or predictive_search.resources.collections.size > 0 -%}
                        <div class="predictive-search-queries">
                            <h6 class="mb-3">{{- 'general.search.predictive.suggestions' | t -}}</h6>
                            <ul id="results-queries" class="results-list list-unstyled d-flex flex-column mb-0 gap-2" role="group">
                            {%- for query in predictive_search.resources.queries -%}
                                <li class="list-item" role="option">
                                    <a href="{{ query.url }}" class="search__item" tabindex="-1" aria-labelledby="{{ query.styled_text }}" title="{{ query.styled_text }}" >{{ query.styled_text }}</a>
                                </li>
                            {%- endfor -%}
                            {%- for collection in predictive_search.resources.collections -%}
                                <li class="list-item" role="option">
                                    <a href="{{ collection.url }}" class="search__item" tabindex="-1" aria-labelledby="{{ collection.title }}" title="{{ collection.title }}">{{ collection.title }}</a>
                                </li>
                            {%- endfor -%}
                            </ul>
                        </div>
                    {%- endif -%}
                </div>


                <div class="col-lg-7 col-md-8">
                    {%- if predictive_search.resources.products.size > 0 -%}
                        <div class="predictive-search__products">
                            <h6 class="mb-3">{{- 'general.search.predictive.result_products' | t -}}</h6>
                            <div id="results-products" class="results-list list-unstyled row row-gap-4" role="group">
                                {%- for product in predictive_search.resources.products -%}
                                    <div class="list-item col-md-3 col-6" role="option">
                                        <a href="{{ product.url }}" class="predictive-search__image" tabindex="-1" aria-label="{{ product.title }}" title="{{ product.title }}">
                                        {%- if product.featured_media != blank -%}
                                            <img class="" src="{{ product.featured_media | image_url: width: 300 }}" alt="{{ product.featured_media.alt }}" width="50" height="{{ 50 | divided_by: product.featured_media.preview_image.aspect_ratio | round }}">
                                        {% else %}
                                            {% comment %} {{ placeholderImage | placeholder_svg_tag: 'placeholder-svg' }} {% endcomment %}
                                            {% render 'placeholder-image' %}
                                        {%- endif -%}
                                        </a>

                                        <div class="predictive-search__item-content pt-3">
                                            <a href="{{ product.url }}" class="item--title fs-lg" aria-labelledby="{{ product.title }}" title="{{ product.title }}">{{ product.title }}</a>
                                            <div class="price-wrapper mt-1 lh-1">
                                                <span class="actual-price money fs-md">{{ product.price | money }}</span>
                                            </div>
                                        </div>
                                    </div>
                                {%- endfor -%}
                            </div>
                        </div> 
                    {%- endif -%}
                </div>

                {% comment %} 
                <div class="col-lg-3 col-md-4 d-flex flex-column gap-4">
                    {%- if predictive_search.resources.articles.size > 0 -%}
                        <div class="predictive-search__articles">
                            <h6 class="mb-3">{{- 'general.search.predictive.result_articles' | t -}}</h6>
                            <div id="results-articles" class="results-list list-unstyled" role="group">
                            {%- for article in predictive_search.resources.articles -%}
                                <div class="list-item" role="option">
                                    <a href="{{ article.url }}" class="search__item" tabindex="-1" aria-labelledby="{{ article.title }}" title="{{ article.title }}">{{ article.title }}</a>
                                </div>
                            {%- endfor -%}
                            </div>
                        </div>
                    {%- endif -%}


                    {%- if predictive_search.resources.pages.size > 0 -%}
                        <div class="predictive-search__pages">
                            <h6 class="mb-3">{{- 'general.search.predictive.result_pages' | t -}}</h6>
                            <div id="results-pages" class="results-list list-unstyled" role="group">
                            {%- for page in predictive_search.resources.pages -%}
                                <div class="list-item" role="option">
                                <a href="{{ page.url }}" class="search__item" tabindex="-1" aria-labelledby="{{ page.title }}" title="{{ page.title }}">{{ page.title }}</a>
                                </div>
                            {%- endfor -%}
                            </div>
                        </div>
                    {%- endif -%}
                </div>
                {% endcomment %}
            </div>

            {% comment %} <div class="predictive-search__result-group"></div> {% endcomment %}

            <div class="pt-5 text-center">
                <a href="{{ routes.search_url }}?q={{ predictive_search.terms }}" class="btn btn-dark">{{ 'general.search.predictive.view_all' | t }}</a>
            </div>
        {% else %}
            <div class="no-results">
                <p>{{ "general.search.predictive.no_results" | t: searchTerm: predictive_search.terms }} </p>
            </div>
        {% endif %}
    </div>
{%- endif -%}
    