{%- liquid 
  assign items_per_page = section.settings.items_per_page
  assign activeEntries = search.filters | map: 'active_values' | compact
-%}
{% capture spacing_class_list %}
    {{ section.settings.section_top_spacing }} {{ section.settings.section_top_spacing_ipad }} {{ section.settings.section_top_spacing_mobile }} {{ section.settings.section_bottom_spacing }} {{ section.settings.section_bottom_spacing_ipad }} {{ section.settings.section_bottom_spacing_mobile }}
{% endcapture %}
<section id="{{ template.name }}-container"  data-section="{{ section.id }}" class="{{ spacing_class_list }}">
    <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">

        <div class="row pb-lg-12 pb-md-10 pb-9 align-items-stretch justify-content-center">
            <div class="col-lg-5 ml-auto mr-auto text-center">
                <form action="{{ routes.search_url }}" method="get" role="search">
                    {% comment %} {%- capture searchType -%}product,article,page{%- endcapture -%} {% endcomment %}
                    <div class="input-group">
                        {% comment %} <input type="hidden" name="type" value="{{ searchType }}">
                         <input type="hidden" name="options[prefix]" value="last" />  {% endcomment %}
                        <input type="hidden" name="options[unavailable_products]" value="hide" />
                        <input type="search" name="q" id="Search" aria-label="search" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" class="form-control">
                        <button type="submit" class="btn btn-primary">{{ 'general.search.submit' | t }}</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            {% if search.terms.size > 0 and search.results_count > 0 %}
                {%- if section.settings.filter_type == 'sidebar' -%}
                    {%- render 'sidebar-filters', object: search -%}
                {%- else -%}    
                    {%- render 'topbar-filters', object: search -%}
                {%- endif -%}      
            {% endif %}
            
            <div class="{% if search.terms.size > 0 and section.settings.filter_type == 'sidebar' %}col-lg-9{% else %}col-12{% endif %}">
                <div id="products-listing">
                {%- if search.results_count == 0 -%}
                    <div class="row mt-5">
                        <div class="col-12 text-center mt-5">
                            {%- if section.settings.enable_filtering and activeEntries.size > 0 -%}
                                <h5> {{ 'general.filters.no_matches_within_filters' | t }}</h5>
                            {%- elsif search.terms.size <= 0 or search.results_count <= 0 -%}
                                <h5> {{ 'templates.search.no_search_term' | t: terms: search.terms }}</h5>
                            {%- endif -%}
                        </div>
                    </div>
                {%- else -%}
                    {%- paginate search.results by items_per_page -%}
                        <div class="row row-gap-md-6 row-gap-4 mx-md-n3 mx-n2" id="template-search" data-id="{{ section.id }}">
                            {% assign productExcludeTag = settings.product_exclude_tag_text %}
                            {% for item in search.results %}
                                {% unless item.tags contains productExcludeTag %}
                                <div class="col-lg-{{ section.settings.product_per_row }} col-md-4 col-6 px-md-3 px-2 d-flex align-items-stretch justify-content-around">
                                    {% render 'card-search-item', item: item %}
                                </div>
                                {% endunless %}
                            {% endfor %}
                        </div>
                        {% if paginate.pages > 1 %}
                            <div class="row" data-data-paginationParent data-type="numbers">
                                <div class="col-12 text-center mt-5">
                                    {% render 'pagination', paginate: paginate %}
                                </div>
                            </div>
                        {% endif %}
                    {%- endpaginate -%}
                {%- endif -%}
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Search Template",
        "blocks": [{ "type": "@theme" }, { "type": "@app" }],
        "settings": [
            {
                "type": "header",
                "content": "Layout"
            },
            {
                "type": "checkbox",
                "id": "fluid_layout",
                "label": "Full Width Layout",
                "default": false
            },
            {
                "type": "header",
                "content": "t:spacing.section_spacing"
            },
            {
                "type": "select",
                "id": "section_top_spacing",
                "label": "t:spacing.desktop_top_spacing",
                "options": [
                    {
                        "value": "",
                        "label": "None"
                    },
                    {
                        "value": "spacing-top-xs",
                        "label": "t:spacing.tight"
                    },
                    {
                        "value": "spacing-top-sm",
                        "label": "t:spacing.standard"
                    },
                    {
                        "value": "spacing-top-md",
                        "label": "t:spacing.spacious"
                    },
                    {
                        "value": "spacing-top-lg",
                        "label": "t:spacing.extra_spacious"
                    }
                ],
                "default": "spacing-top-sm"
            },
            {
                "type": "select",
                "id": "section_top_spacing_ipad",
                "label": "t:spacing.ipad_top_spacing",
                "options": [
                    {
                        "value": "",
                        "label": "None"
                    },
                    {
                        "value": "spacing-top-ipad-xs",
                        "label": "t:spacing.tight"
                    },
                    {
                        "value": "spacing-top-ipad-sm",
                        "label": "t:spacing.standard"
                    },
                    {
                        "value": "spacing-top-ipad-md",
                        "label": "t:spacing.spacious"
                    },
                    {
                        "value": "spacing-top-ipad-lg",
                        "label": "t:spacing.extra_spacious"
                    }
                ],
                "default": "spacing-top-ipad-sm"
            },
            {
                "type": "select",
                "id": "section_top_spacing_mobile",
                "label": "t:spacing.mobile_top_spacing",
                "options": [
                    {
                        "value": "",
                        "label": "None"
                    },
                    {
                        "value": "spacing-top-mobile-xs",
                        "label": "t:spacing.tight"
                    },
                    {
                        "value": "spacing-top-mobile-sm",
                        "label": "t:spacing.standard"
                    },
                    {
                        "value": "spacing-top-mobile-md",
                        "label": "t:spacing.spacious"
                    },
                    {
                        "value": "spacing-top-mobile-lg",
                        "label": "t:spacing.extra_spacious"
                    }
                ],
                "default": "spacing-top-mobile-sm"
            },
            {
                "type": "select",
                "id": "section_bottom_spacing",
                "label": "t:spacing.desktop_bottom_spacing",
                "options": [
                    {
                        "value": "",
                        "label": "None"
                    },
                    {
                        "value": "spacing-bottom-xs",
                        "label": "t:spacing.tight"
                    },
                    {
                        "value": "spacing-bottom-sm",
                        "label": "t:spacing.standard"
                    },
                    {
                        "value": "spacing-bottom-md",
                        "label": "t:spacing.spacious"
                    },
                    {
                        "value": "spacing-bottom-lg",
                        "label": "t:spacing.extra_spacious"
                    }
                ],
                "default": "spacing-bottom-sm"
            },
            {
                "type": "select",
                "id": "section_bottom_spacing_ipad",
                "label": "t:spacing.ipad_bottom_spacing",
                "options": [
                    {
                        "value": "",
                        "label": "None"
                    },
                    {
                        "value": "spacing-bottom-ipad-xs",
                        "label": "t:spacing.tight"
                    },
                    {
                        "value": "spacing-bottom-ipad-sm",
                        "label": "t:spacing.standard"
                    },
                    {
                        "value": "spacing-bottom-ipad-md",
                        "label": "t:spacing.spacious"
                    },
                    {
                        "value": "spacing-bottom-ipad-lg",
                        "label": "t:spacing.extra_spacious"
                    }
                ],
                "default": "spacing-bottom-ipad-sm"
            },
            {
                "type": "select",
                "id": "section_bottom_spacing_mobile",
                "label": "t:spacing.mobile_bottom_spacing",
                "options": [
                    {
                        "value": "",
                        "label": "None"
                    },
                    {
                        "value": "spacing-bottom-mobile-xs",
                        "label": "t:spacing.tight"
                    },
                    {
                        "value": "spacing-bottom-mobile-sm",
                        "label": "t:spacing.standard"
                    },
                    {
                        "value": "spacing-bottom-mobile-md",
                        "label": "t:spacing.spacious"
                    },
                    {
                        "value": "spacing-bottom-mobile-lg",
                        "label": "t:spacing.extra_spacious"
                    }
                ],
                "default": "spacing-bottom-mobile-sm"
            },
            {
                "type": "select",
                "id": "product_per_row",
                "label": "Products per row",
                "options": [
                    {
                        "value": "6",
                        "label": "2"
                    },
                    {
                        "value": "4",
                        "label": "3"
                    },
                    {
                        "value": "3",
                        "label": "4"
                    }
                ],
                "default": "4"
            },
            {
                "type": "header",
                "content": "Sorting"
            },
            {
                "type": "checkbox",
                "id": "enable_sorting",
                "default": true,
                "label": "t:sections.template-collection.settings.enable_sorting.label"
            },
            {
                "type": "checkbox",
                "id": "enable_product_result",
                "default": true,
                "label": "Show results Count ?"
            },
            {
                "type": "header",
                "content": "Shop Collections"
            },
            {
                "type": "checkbox",
                "id": "enable_sub_collections",
                "default": true,
                "label": "Enable Shop Collections"
            },
            {
                "type": "collection_list",
                "id": "sub_collections",
                "label": "Collections"
            },
            {
                "type": "header",
                "content": "Storefront Filters"
            },
            {
                "type": "checkbox",
                "id": "enable_filtering",
                "default": true,
                "label": "Enable filtering",
                "info": "[Customize filters](/admin/menus)"
            },
            {
                "type": "select",
                "id": "filter_type",
                "label": "Storefront Filters Type",
                "options": [
                    {
                        "value": "sidebar",
                        "label": "Sidebar"
                    },
                    {
                        "value": "topbar",
                        "label": "Topbar"
                    }
                ],
                "default": "sidebar",
                "visible_if": "{{ section.settings.enable_filtering }}"
            }
        ]
    }
{% endschema %}
